
#smlinkIcon1 {
    width: 15%;
    height: 15%;
    margin-left: 3%;
    margin-right: 3%;
}
#smlinkIcon2 {
    margin-left: 3%;
    margin-right: 3%;
    height: 18%;
    width: 18%;
}
#smlinkbox{
    text-align: center;
}
#nav-skills-icon{
    width: 45%;
    height: 25%;
}
#skills ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li , .circular-skill{
    font-family: 'Work Sans',sans-serif;
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      background: #374054;
      color: #e4e4ea;
      list-style: none;
      cursor: default;
      font-size: 1.2em;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      border-radius: 16px;
  }

  #skills li:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      /*
      box-shadow: 0px 10px 25px 2px #C7C7C7;
      */
      background: crimson;
  }
  #skillbox{
    text-align: center;
    }

   

