
#smlinkIcon1 {
    width: 15%;
    height: 15%;
    margin-left: 3%;
    margin-right: 3%;
}
#smlinkIcon2 {
    margin-left: 3%;
    margin-right: 3%;
    height: 18%;
    width: 18%;
}
#smlinkbox{
    text-align: center;
}
#nav-skills-icon{
    width: 45%;
    height: 25%;
}
#skills ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li , .circular-skill{
    font-family: 'Work Sans',sans-serif;
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      background: #374054;
      color: #e4e4ea;
      list-style: none;
      cursor: default;
      font-size: 1.2em;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      border-radius: 16px;
  }

  #skills li:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background: #fa5252;
  }
  #skillbox-desktop{
    display: block;
    text-align: center;
    margin-left: 130px;
    margin-right: -70px;
    }
  #skillbox-mobile{
    display: none;
    }

    @media screen and (max-width: 768px) {
        #skillbox-desktop{
            display: none;
            }
          #skillbox-mobile{
            display: block;
            text-align: center;
            }
    }
  
body {
    background-color: #272b32;
    }